In [ ]:
# 3 – Quero saber a quantidade de admissões/demissões por gênero no período da pandemia.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob

In [12]:
# lista de todos os arquivos
caged_files = sorted(glob('..\DadosCaged\CAGEDMOV*.txt'))
# pd.concat((pd.read_csv(file) for file in caged_files))
# print(caged_files)
pandemia_df = pd.concat((pd.read_csv(file, sep=';') for file in caged_files), ignore_index=True)

In [13]:
#Lista todos os arquivos carregados e concatenados no dataframe pandemia_df
caged_files

['..\\DadosCaged\\CAGEDMOV202003.txt',
 '..\\DadosCaged\\CAGEDMOV202004.txt',
 '..\\DadosCaged\\CAGEDMOV202005.txt',
 '..\\DadosCaged\\CAGEDMOV202006.txt',
 '..\\DadosCaged\\CAGEDMOV202007.txt',
 '..\\DadosCaged\\CAGEDMOV202008.txt',
 '..\\DadosCaged\\CAGEDMOV202009.txt',
 '..\\DadosCaged\\CAGEDMOV202010.txt',
 '..\\DadosCaged\\CAGEDMOV202011.txt',
 '..\\DadosCaged\\CAGEDMOV202012.txt',
 '..\\DadosCaged\\CAGEDMOV202101.txt',
 '..\\DadosCaged\\CAGEDMOV202102.txt',
 '..\\DadosCaged\\CAGEDMOV202103.txt']

In [15]:
#Lista as colunas do dataframe
pandemia_df.columns

Index(['competência', 'região', 'uf', 'município', 'seção', 'subclasse',
       'saldomovimentação', 'cbo2002ocupação', 'categoria', 'graudeinstrução',
       'idade', 'horascontratuais', 'raçacor', 'sexo', 'tipoempregador',
       'tipoestabelecimento', 'tipomovimentação', 'tipodedeficiência',
       'indtrabintermitente', 'indtrabparcial', 'salário', 'tamestabjan',
       'indicadoraprendiz', 'fonte'],
      dtype='object')

In [16]:
#Criação do filtro de admissão/demissão
fired = pandemia_df['saldomovimentação'] == -1
hired = pandemia_df['saldomovimentação'] == 1

In [17]:
#Criação do filtro de data(inicio da pandemia até atualmente)
dataPandemiaInicio = pandemia_df['competência'] >= 202003
dataPandemiaAtual = pandemia_df['competência'] <= 202105

In [38]:
#Alteração dos valores numéricos para valores legíveis.
sex = { 1: "homem", 3: "mulher"}
saldomovimentacao = {1: 'admissao', -1: 'demissao'}

In [39]:
#Aplicação dos dics criados para deixar os dados mais legíveis
pandemia_df['sexo'] = pandemia_df['sexo'].apply(lambda x: sex[x])
pandemia_df['saldomovimentação'] = pandemia_df['saldomovimentação'].apply(lambda x: saldomovimentacao[x])

In [42]:
#Exibição dos ultimos 5 registros
pandemia_df.tail()

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoempregador,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte
33797762,202103,3,35,355030,A,151201,admissao,724315,102,7,...,2,3,10,0,0,0,1500.000000,99,0,1
33797763,202103,3,35,355030,I,5620101,admissao,513205,111,7,...,0,1,20,0,1,0,6567.000000,7,0,1
33797764,202103,2,25,251370,C,1532700,demissao,764105,101,7,...,0,1,31,0,0,0,1122.000000,10,0,1
33797765,202103,3,33,330455,I,5510801,demissao,513505,101,6,...,0,1,31,0,0,0,1021.419983,5,0,1
33797766,202103,3,35,354980,G,4530701,demissao,142105,101,9,...,0,1,31,0,0,0,4500.000000,4,0,1

In [36]:
#Quantidade de registros pertencentes a cada sesgo
pandemia_df['sexo'].value_counts()

homem     20897273
mulher    12900494
Name: sexo, dtype: int64

In [40]:
#Quantidade de demissões por gênero no período da pandemia.
pandemia_df[fired]['sexo'][dataPandemiaInicio & dataPandemiaAtual].value_counts()

homem     10202808
mulher     6405367
Name: sexo, dtype: int64

In [41]:
#Quantidade de admissões por gênero no período da pandemia.
pandemia_df[hired]['sexo'][dataPandemiaInicio & dataPandemiaAtual].value_counts()

homem     10694465
mulher     6495127
Name: sexo, dtype: int64