In [ ]:
# 3 – Quero saber a quantidade de admissões/demissões por gênero no período da pandemia.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("CAGEDMOV202102.txt", sep=';')
data.head()

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoempregador,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte
0,202102,5,52,520870,Q,8610102,-1,515110,101,5,...,0,1,31,0,0,0,1033.260010,9,0,1
1,202102,3,35,352470,J,6203100,-1,317210,101,9,...,0,1,40,0,0,0,1675.560059,10,0,1
2,202102,4,43,431490,F,4399199,1,721325,101,7,...,0,1,20,0,0,0,2182.399902,7,0,1
3,202102,3,35,355030,M,7112000,1,717020,101,6,...,0,1,20,0,0,0,1711.420044,7,0,1
4,202102,4,43,431490,G,4761001,-1,422305,101,7,...,0,1,43,0,0,0,1188.250000,7,0,1

In [4]:
data.columns

Index(['competência', 'região', 'uf', 'município', 'seção', 'subclasse',
       'saldomovimentação', 'cbo2002ocupação', 'categoria', 'graudeinstrução',
       'idade', 'horascontratuais', 'raçacor', 'sexo', 'tipoempregador',
       'tipoestabelecimento', 'tipomovimentação', 'tipodedeficiência',
       'indtrabintermitente', 'indtrabparcial', 'salário', 'tamestabjan',
       'indicadoraprendiz', 'fonte'],
      dtype='object')

In [13]:
fired = data['saldomovimentação'] == -1
hired = data['saldomovimentação'] == 1

In [15]:
dataPandemiaInicio = data['competência'] >= 202003
dataPandemiaAtual = data['competência'] <= 202105

In [18]:
data[fired]['sexo'][dataPandemiaInicio & dataPandemiaAtual].value_counts()

1    789586
3    503379
Name: sexo, dtype: int64

In [19]:
data[hired]['sexo'][dataPandemiaInicio & dataPandemiaAtual].value_counts()

1    1012750
3     681854
Name: sexo, dtype: int64